@use "/src/util/style/color";
@use "/src/components/form/form-elements/index.module" as form;

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  padding: 20px;
  gap: 48px;
}

.formWrap {
  @include form.commonForm;
}
