@use "/src/util/style/color" as color;

html, body {
  height: 100%;
}

body {
  color: nth(color.$grayColors, 1);
  font-size: 14px;
}

button {
  cursor: pointer;
}

input:disabled, button:disabled, textarea:disabled {
  cursor: not-allowed;
}
