@mixin dimBackdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

// 상하좌우 모달패딩값
$modalPadding: 16px;

.centerAlignContainer {
  $minPadding: 16px; // 뷰포트보다 모달의 가로 또는 세로가 더 작은경우 뷰포트와 모달 사이 최소간격
  
  @include dimBackdrop;
  display: flex;
  padding: $minPadding;
  
  &:not(.open) {
    display: none;
  }
}

.centerAlignInner {
  // 모달 중앙정렬
  margin: auto;
  
  // 모달의 세로높이가 뷰포트보다 큰 경우 전체높이 꽉채운 상태에서 스크롤 생기도록 함
  overflow: auto;
  max-height: 70%;
  
  // 반응형
  width: 100%;
  
  &.medium {
    max-width: 480px;
  }
  
  &.large {
    max-width: 720px;
  }
}

.bottomSheetContainer {
  @include dimBackdrop;
  display: flex;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  
  > .bottomSheetInner {
    position: fixed;
    bottom: -100%;
    transition: bottom 0.4s;
    background-color: transparent;
  }
  
  &.open {
    pointer-events: auto;
    opacity: 100;
    
    > .bottomSheetInner {
      bottom: 0;
      background-color: white;
    }
  }
}

.bottomSheetInner {
  width: 100%;
  
  // 반응형
  max-height: 70%;
  overflow: auto;
}

.fullScreenContainer {
  &:not(.open) {
    display: none;
  }
}

.fullScreenInner {
  width: 100%;
  height: 100%;
  overflow: auto;
  
  display: flex;
  flex-direction: column;
}

.rootModalInner {
  // 모달 기본 배경색 지정
  background-color: white;
}
