@mixin dimBackdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

// 상하좌우 모달패딩값
$modalPadding: 16px;

.centerAlignContainer {
  $minPadding: 16px; // 뷰포트보다 모달의 가로 또는 세로가 더 작은경우 뷰포트와 모달 사이 최소간격
  
  @include dimBackdrop;
  display: flex; // 모달 중앙정렬 하기위함
  padding: $minPadding;
}

.centerAlignInner {
  // 모달 중앙정렬
  margin: auto;
  
  // 반응형
  width: 100%;
  
  &.medium {
    max-width: 480px;
  }
  
  &.large {
    max-width: 720px;
  }
}

.bottomSheetContainer {
  @include dimBackdrop;
  display: flex;
}

.bottomSheetInner {
  width: 100%;
  margin-top: auto;
  
  // 반응형
  max-height: 70%;
  overflow: auto;
}

.fullScreenInner {
  width: 100%;
  height: 100%;
  overflow: auto;
  
  display: flex;
  flex-direction: column;
}

.rootModalInner {
  // 모달 기본 배경색 지정
  background-color: white;
}
