@use 'container.module';

.defaultHeader {
  flex-shrink: 0;
  
  font-size: 20px;
  font-weight: bold;
  
  padding: {
    top: container.$modalPadding;
    left: container.$modalPadding;
    right: container.$modalPadding;
  };
}
