@import "/src/util/style/color.scss";

html, body {
  height: 100%;
}

body {
  color: nth($grayColors, 1);
  font-size: 14px;
}

button {
  cursor: pointer;
}

input:disabled, button:disabled, textarea:disabled {
  cursor: not-allowed;
}
